.bg-menu{
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 50%);
}

.container{
    display: flex;
    justify-content: space-between;
}

.title{
    font-weight: bold!important;
    color: black;
}

.MuiTypography-root{
    font-family: Courier New!important;
}